body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.formulario {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#texto-qr {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#generar-qr {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generar-qr:hover {
    background-color: #444;
}

#contenedor-qr {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
